.carditem{
    display:flex;
    flex-wrap: wrap;
   
}

.card{
    width:30%;
    height:100px;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color:burlywood;
    position:relative;
}

.chkbox{

    position:absolute;
    right:0%;
}